.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

.dropzone {
  width: 20em;
  height: 15em;
  border: 1px solid lightgray;
  display: flex;
  align-items : center;
  justify-content: center;
}

.imgbox {
  display: flex;
  /* width: 20em; */
  /* height: 15em; */
  overflow-x: scroll;

}

.image {
  width: 20em;
  height: 15em;
  padding: 0.5em;
  /* height: 15em; */
  min-width:20em;
}
